
@{
    ViewBag.Title = "Index";
}

<h2>Restaurant View</h2>


<table class="table table-bordered text-center">
    <tr class="bg-info">
        <td>Name</td>
        <td>Location</td>
        <td>Operation</td>
    </tr>

    @foreach (var cs in Model)
    {
        <tr>
            <td>@cs.Name</td>
            <td>@cs.Location</td>
            <td><a href="/Restaurant/AllCollectRequest/@cs.Id" class="btn btn-success">Login as @cs.Name</a></td>
        </tr>
    }
</table>